body {
  background: #f9f9f9;
  color: #444444;
}

.jumbotron {
  padding-bottom: 10px;
  padding-top: 40px;
}
.jumbotron h1 {
  font-size: 50px;
}

.well {
  padding: 10px;
}

.login {
  float: none;
  margin: 0 auto;
}

.logout {
  position: absolute;
  top: 10px;
  margin-left: 15px;
}
.logout button {
  opacity: 0.6;
}
.logout button span {
  margin-right: 4px;
}
.logout button:hover {
  opacity: 0.8;
}

.search {
  position: absolute;
  top: 10px;
  margin-left: 120px;
}
.search button {
  opacity: 0.6;
}
.search button span {
  margin-right: 4px;
}

.list-unstyled li label {
  min-width: 230px;
  margin-right: 15px;
  cursor: pointer;
}
.list-unstyled li input {
  margin-right: 15px;
  cursor: pointer;
}
.list-unstyled li img {
  cursor: pointer;
  max-height: 90px;
}

.itemContainer {
  display: table;
  width: 100%;
}
.itemContainer div {
  display: table-cell;
  vertical-align: middle;
}

.itemContainer > div:first-of-type {
  width: 30%;
}

.modal-open {
  overflow: visible;
}

.modal {
  overflow: auto;
}

.modal-body table tr > td:first-of-type {
  padding-right: 10px;
}

.btn {
  font-size: 15px;
  line-height: 0.7;
}

.btn-info, .btn-danger {
  opacity: 0.5;
  border-radius: 15px;
  width: 25px;
}

#background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 3;
}

.img-full {
  z-index: 100;
  max-width: 100%;
  height: auto;
}

/* toggle checkbox */
.itemContainer label {
  height: 22px;
  overflow: hidden;
}
.itemContainer input.toggle-activate:empty {
  display: none;
}
.itemContainer input.toggle-activate:empty ~ label {
  position: relative;
  float: left;
  line-height: 1.6em;
  text-indent: 4em;
  margin: 0.2em 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.itemContainer input.toggle-activate:empty ~ label:before,
.itemContainer input.toggle-activate:empty ~ label:after {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 3.6em;
  background-color: #c33;
  border-radius: 0.3em;
  box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.itemContainer input.toggle-activate:empty ~ label:after {
  width: 1.4em;
  top: 0.1em;
  bottom: 0.1em;
  margin-left: 0.1em;
  background-color: #fff;
  border-radius: 0.15em;
  box-shadow: inset 0 -0.2em 0 rgba(0, 0, 0, 0.2);
}
.itemContainer input.toggle-activate:checked ~ label:before {
  background-color: #393;
}
.itemContainer input.toggle-activate:checked ~ label:after {
  margin-left: 2em;
}

@media screen and (max-width: 991px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .jumbotron h1 {
    font-size: 35px;
  }

  .list-unstyled li input {
    margin-right: 100%;
  }

  .logout {
    margin-left: 30px;
  }
}
@media screen and (max-width: 450px) {
  .list-unstyled li label {
    min-width: 100%;
  }
}
