body {
  background: #F9F9F9;
  color: #444444;
  padding: 0px !important;
  /* background overlay for full image view */
}
body .backgroundOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 3;
}

button {
  cursor: pointer;
}

.jumbotron {
  padding-bottom: 10px;
  padding-top: 75px;
}
.jumbotron h1 {
  font-size: 50px;
}

.navbar .show-menu {
  display: none;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  padding: 5px 0;
  margin-bottom: 0;
  cursor: pointer;
  opacity: 0.6;
}
.navbar .show-menu:hover {
  opacity: 0.8;
}
.navbar input[type=checkbox]:checked ~ .pull-left {
  width: 100%;
}
.navbar input[type=checkbox]:checked ~ .pull-left .navbutton {
  display: block;
  width: 100%;
  margin: 5px 0;
}
.navbar input[type=checkbox] {
  display: none;
}
.navbar .divider {
  display: inline-block;
  position: absolute;
  top: 7px;
  width: 2px;
  height: 52px;
  overflow: hidden;
  background-color: #E5E5E5;
}
.navbar .search input[type=text] {
  opacity: 0.6;
  height: 29px;
  font-size: 13px;
  padding: 2px;
}
.navbar .github {
  float: right;
  font-size: 30px;
  margin: 3px 10px 0px 0px;
}
.navbar .github a {
  color: #444444;
  opacity: 0.6;
}
.navbar .github a:hover {
  opacity: 0.8;
}

.well {
  padding: 10px;
}

/* login */
.login {
  float: none;
  margin: 0 auto;
}
.login button {
  margin-top: 15px;
}

.logout {
  display: inline-block;
  margin: 10px 0;
}
.logout button {
  opacity: 0.6;
}
.logout button span {
  margin-right: 4px;
}
.logout button:hover {
  opacity: 0.8;
}

/* home */
.home {
  display: inline-block;
  margin: 10px 0 10px 10px;
}

/* stats */
.stats {
  display: inline-block;
  margin: 10px 0;
}
.stats button {
  color: #444444;
  opacity: 0.6;
}
.stats button:hover {
  opacity: 0.8;
}

/* search */
.search {
  display: inline-block;
  margin: 10px 0 10px 5px;
}
.search button {
  opacity: 0.6;
}
.search button span {
  margin-right: 4px;
}
.search button:hover {
  opacity: 0.8;
}

.list-unstyled li label {
  min-width: 230px;
  margin-right: 15px;
  cursor: pointer;
  word-break: break-all;
}
.list-unstyled li input {
  margin-right: 15px;
  cursor: pointer;
}
.list-unstyled li img {
  cursor: pointer;
  max-height: 90px;
}

.itemContainer {
  display: table;
  width: 100%;
}
.itemContainer div {
  display: table-cell;
  vertical-align: middle;
}
.itemContainer div:last-of-type button {
  clear: both;
}
.itemContainer div:last-of-type button:first-of-type {
  margin-bottom: 10px;
}

.itemContainer > div:first-of-type {
  width: 30%;
}

.modal-open {
  overflow: visible;
}

.modal {
  overflow: auto;
}
.modal .modal-body table tr > td:first-of-type {
  padding-right: 10px;
}

.table > tbody > tr > td {
  border-top: none;
  border-bottom: 1px solid #dddddd;
}

/* info and delete buttons */
.btn {
  font-size: 15px;
  line-height: 0.7;
}
.btn.btn-info, .btn.btn-danger {
  opacity: 0.5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 40px;
}

/* image */
.imageContainer img {
  cursor: zoom-in !important;
}

.img-full {
  z-index: 100;
  max-width: 100%;
  height: auto;
}

/* toggle checkbox */
.itemContainer label {
  height: 22px;
  overflow: hidden;
}
.itemContainer input.toggle-activate:empty {
  display: none;
}
.itemContainer input.toggle-activate:empty ~ label {
  position: relative;
  float: left;
  line-height: 1.6em;
  text-indent: 4em;
  margin: 0.2em 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.itemContainer input.toggle-activate:empty ~ label:before,
.itemContainer input.toggle-activate:empty ~ label:after {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 3.6em;
  background-color: #c33;
  border-radius: 0.3em;
  box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.itemContainer input.toggle-activate:empty ~ label:after {
  width: 1.4em;
  top: 0.1em;
  bottom: 0.1em;
  margin-left: 0.1em;
  background-color: #fff;
  border-radius: 0.15em;
  box-shadow: inset 0 -0.2em 0 rgba(0, 0, 0, 0.2);
}
.itemContainer input.toggle-activate:checked ~ label:before {
  background-color: #393;
}
.itemContainer input.toggle-activate:checked ~ label:after {
  margin-left: 2em;
}

/* stats page */
.statsActivated {
  overflow: auto;
}
.statsActivated .bar {
  fill: steelblue;
}
.statsActivated .bar:hover {
  fill: brown;
}
.statsActivated .axis {
  font: 10px sans-serif;
}
.statsActivated .axis path, .statsActivated .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.statsActivated .x.axis path {
  display: none;
}
.statsActivated text {
  font-size: 12px;
}

@media screen and (max-width: 991px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .list-unstyled li input {
    margin-right: 100%;
  }

  .navbar {
    min-height: 28px;
  }
  .navbar .show-menu {
    display: block;
  }
  .navbar button, .navbar input[type="text"] {
    width: 100%;
  }
  .navbar .navbutton {
    display: none;
    position: relative;
    top: 0;
    margin: 5px 10px 0 10px;
  }
  .navbar .divider {
    background-color: #e5e5e5;
    height: 2px;
    margin: 10px 0px 10px 0px;
    position: relative;
    top: 0;
    width: 100%;
  }
  .navbar .search button {
    margin-top: 5px;
  }
  .navbar .github {
    float: none;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .jumbotron h1 {
    font-size: 32px;
    padding-left: 20px;
    margin-top: 5px;
  }

  .list-unstyled li label {
    min-width: 100%;
  }

  .itemContainer .imageContainer {
    text-align: right;
  }

  .itemContainer > div:first-of-type {
    width: auto;
  }
}
